@font-face {
  font-family: "Mario64";
  src: url(fonts/Mario64.ttf) format("truetype");
}

body {
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1 {
  font-family: "Mario64", sans-serif;
    font-size: 4em;
}

h2 {
  font-family: "Mario64", sans-serif;
    font-size: 3em;
}

li {
  font-family: "Mario64", sans-serif;
    font-size: 1em;
}

h2 {
  font-family: "Mario64", sans-serif;
    font-size: 2em;
}

h3 {
  font-family: "Mario64", sans-serif;
    font-size: 1em;
}
h1,
h2 {
  margin: 0;
  color: #FFFF00;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5em;
  max-width: 50%;
  text-align: center;
  color: #FFFF00;
}
