 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://assets.nicepagecdn.com/8f7e4243/4608761/images/m64_tropic.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 633px;
}

.u-section-1 .u-image-1 {
  width: 198px;
  height: 61px;
  margin: 37px auto 0 37px;
}

.u-section-1 .u-image-2 {
  width: 286px;
  height: 58px;
  margin: 37px auto 56px 37px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 522px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 167px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 126px;
    margin-bottom: 0;
  }
}