@font-face {
  font-family: "Mario64";
  src: url(../fonts/Mario64.ttf) format("truetype");
}

@font-face {
  font-family: "Mario64DS";
  src: url(../fonts/Super-Mario-64-DS.ttf) format("truetype");
  font-weight: normal;
}

div {
  align-items: center;
  text-align: center;
  border-radius: 25px;
  height: 300px;
  width: 1000px;
  background: linear-gradient(to bottom, #000000 0%, #020094 100%);
}

body {
  background-image: url("https://raw.githubusercontent.com/CoolAn127Gamer/SM64-PC-Port-Web/gh-pages/images/bg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1 {
  font-family: "Mario64DS", sans-serif;
    align-items: center;
    font-size: 2m;
    color: #09ff00;
    font-style: bold;
}

h2 {
  font-family: "Mario64", sans-serif;
    font-size: 2em;
    color: #00aeff;
}

li {
  font-family: "Mario64", sans-serif;
    font-size: 2m;
    color: #00d0ff;
}

h2 {
  font-family: "Mario64", sans-serif;
    font-size: 2m;
    color: #007bff;
}

h3 {
  font-family: "Mario64", sans-serif;
    font-size: 2m;
    color: #00bfff;
}
h4 {
  font-family: "Mario64", sans-serif;
    font-size: 2m;
    color: #00e5ff;
}
h1,
h2 {
  margin: 0;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-align: center;
  color: #00a2ff;
}
